.section {
  margin: 0;
  padding-top: 6rem;
}
.jumbotron {
  padding-top: 10rem;
  background-color: #e2edff;
  text-align: center;
}
.about {
  padding-top: 10rem;
  background-color: #e2edff;
  text-align: center;
}

.img-jumbotron {
  width: 200px;
}

.background-gallery {
  background-color: #e2edff;
  padding-top: 10rem;
}
.background-example {
  background-color: #ffff;
  padding-top: 10rem;
}
.background-ddn {
  background-color: #e2edff;
  padding-top: 10rem;
}
.background-moreinfo {
  background-color: #e2edff;
  padding-top: 10rem;
}
.background-price {
  background-color: #ffff;
  padding-top: 10rem;
}

#socialmedia .button {
  background-color: #e072ce;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#socialmedia .button:hover {
  background-color: #d16ac0;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#socialmedia .button2 {
  background-color: #13b7e9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#socialmedia .button2:hover {
  background-color: #12a3cf;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#socialmedia .button3 {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#socialmedia .button3:hover {
  background-color: #c90000;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#socialmedia .button4 {
  background-color: #0dd628;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#socialmedia .button4:hover {
  background-color: #0cc024;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#socialmedia .button5 {
  background-color: #e71c1c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

#socialmedia .button5:hover {
  background-color: #c41c1c;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

footer {
  border: none;
}

#tutorial .img-example {
  width: 110%;
  padding-bottom: 5px;
}

#tutorial li {
  list-style: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(30, 171, 236);
  color: white;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: rgb(25, 145, 201);
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.background-contact {
  background-color: #e2edff;
  padding-top: 10rem;
}
.background-socialmedia {
  background-color: #ffff;
  padding-top: 10rem;
}

.background-form {
  background-color: #ffff;
  padding-top: 10rem;
}

.img-payment1 {
  width: 60%;
}

.img-payment2 {
  width: 70%;
}

.img-payment3 {
  width: 80%;
}

#price li {
  padding: 10px;
}

#ddn li {
  padding: 10px;
}

#moreinfo li {
  padding: 10px;
}

#about .p-family {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 23px;
}

#home .judul-jumbotron {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#home .sub-judul {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#price .p-family {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 19px;
}
#ddn .p-family {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 19px;
}

.about-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.price-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.ddn-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.project-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.more-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.order-title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.social-title {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.donation-title {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#price .garis-bawah {
  size: 10px;
  color: black;
}
#ddn .garis-bawah {
  size: 10px;
  color: black;
}
